target
**/*.rs.bk
.DS_Store
private

# docker-compose
backend/postgres_data

# Output when debugging Hotmail password recovery using a headless browser.
hotmail.jpeg

# sensitive data
/test_suite/src/sensitive_fixtures/*.json
run.sh
.env
